.main-card {
    display: flex;
    background: white;
    width: 92%;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.image-area { flex: 4; height: 300px; }
.image-area img { width: 100%; height: 100%; object-fit: cover; }
.text-area { flex: 6; padding: 30px; }

@media (max-width: 500px) {
    .main-card { flex-direction: column; height: auto; }
    .image-area { width: 100%; height: 200px; }
    .text-area { width: 100%; }
}